a2a-sdk==0.2.11
absl-py==2.3.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
asyncio-mqtt==0.16.2
attrs==25.3.0
Authlib==1.6.1
Automat==25.4.16
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.6.3
cryptography==45.0.5
cssselect==1.3.0
cyclopts==3.22.2
dataclasses-json==0.6.7
defusedxml==0.7.1
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
email_validator==2.2.0
exceptiongroup==1.3.0
fake-http-header==0.3.5
fake-useragent==2.2.0
fastapi==0.116.1
fastmcp==2.10.6
filelock==3.18.0
filetype==1.2.0
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.103.0
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.25.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.3
groq==0.30.0
grpc-google-iam-v1==0.14.2
grpcio==1.73.1
grpcio-reflection==1.71.2
grpcio-status==1.71.2
grpcio-tools==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.33.2
humanize==4.12.3
hyperlink==21.0.0
idna==3.10
immutabledict==4.2.2
importlib_metadata==8.7.0
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-google-genai==2.1.7
langchain-groq==0.3.6
langchain-mcp-adapters==0.1.9
langchain-text-splitters==0.3.8
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
litellm==1.74.0
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mcp==1.12.1

mdurl==0.1.2
multidict==6.6.3
mypy_extensions==1.1.0
narwhals==1.46.0
nest-asyncio==1.6.0
nltk==3.9.1
numpy==2.3.1
office-powerpoint-mcp-server==2.0.3
openai==1.93.0
openapi-pydantic==0.5.1
opentelemetry-api==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
orjson==3.10.18
ormsgpack==1.10.0
ortools==9.14.6206
packaging==24.2
paho-mqtt==2.1.0
pandas==2.3.1
parsel==1.10.0
pillow==11.3.0
pipreqs==0.4.13
playwright==1.53.0
ply==3.11
propcache==0.3.2
Protego==0.5.0
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
PuLP==3.3.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pyee==13.0.0
Pygments==2.19.2
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
pywin32==311
PyYAML==6.0.2
queuelib==1.8.0
rank-bm25==0.2.2
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.2
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==14.0.0
rich-rst==1.3.1
rpds-py==0.26.0
rsa==4.9.1
Scrapy==2.13.3
scrapy-playwright==0.0.43
service-identity==24.2.0
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.7
SQLAlchemy==2.0.41
sse-starlette==2.4.1
starlette==0.47.1
streamlit==1.46.1
tenacity==8.5.0
tf-playwright-stealth==1.2.0
tiktoken==0.9.0
tldextract==5.3.0
tokenizers==0.21.2
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
Twisted==25.5.0
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uv==0.7.20
uvicorn==0.35.0
w3lib==2.3.1
watchdog==6.0.0
websockets==15.0.1
xlsxwriter==3.2.5
xxhash==3.5.0
yarg==0.1.10
yarl==1.20.1
zipp==3.23.0
zope.interface==7.2
zstandard==0.23.0
